<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>

    <%- include('../partials/head'); %>
    
    <link rel="stylesheet" href="<%= baseUrl %>/css/style.css">
    <script type="application/javascript" src="<%= baseUrl %>/js/coordinator.js" defer></script> 
     
  </head>
  <body>
    
    <%- include('../partials/navbar'); %>
    <div class="outerCoordinator"> 
      <h1 class="headingCoordinator">Welcome Coordinator!</h1>
      <p class="paragrafCoordinator">Please choose where to go</p><br>

      <div class="start_buttons">        
        <button type="button" class="btn btn-secondary" id="new_session_btn">New group formation</button><br><br>
        <button type="button" class="btn btn-secondary" id="edit_btn">Edit current group formation</button><br><br>
        <button type="button" class="btn btn-secondary" id="view_btn">View keycodes and make groups</button><br><br>
      </div>

      <div class="modal fade" id="classesModal" tabindex="-1" aria-labelledby="classesModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="classesModalLabel">Choose class</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="formClasses">
                <div class="mb-3" id="classesDiv" style="display:none">
                  <label for="classesSelect" class="col-form-label">Classes:</label>
                  <select class="form-select" id="classesSelect"></select>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" id="close-btn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" id="submit-btn" class="btn btn-secondary" data-bs-dismiss="modal">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../partials/footer'); %>

  </body>
</html>