<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>

    <%- include('../partials/head'); %>

    <link rel="stylesheet" href="<%= baseUrl %>/css/style.css">
    <script type="application/javascript" src="<%= baseUrl %>/js/coordinator.js" defer></script>
    
</head>
<body>

    <%- include('../partials/navbar'); %>
    <div class="outerCoordinator"> 
        <div class="heading_coordinator">
            <h1 class="headingCoordinator">Configuration page</h1>
            <p class="paragrafCoordinator">Welcome to the configuration page, please proceed to fill out below!</p><br>
        </div>

        <div class="file_upload">
            <form id="fileForm"><!--atm do not want page to reload when submitting to form-->
                <label for="name_group_formation" class="paragrafCoordinator">Name of Group formation:</label>
                <input type="text" class="form-control" id="name_group_formation" name="name_group_formation" required><br>
                <p class="paragrafCoordinator" >Upload student list:</p>
                <input type="file" id="student_list" name="student_list" accept=".json,application/json" required><br><br>
                <p class="paragrafCoordinator" >Upload topic list:</p>
                <input type="file" id="topics" name="topics" accept=".json,application/json" required>
            </form>
        </div>

        <div class="buttons">
            <p class="paragrafCoordinator">When you have finished the preconfiguration, please click "next" to continue!🌟</p>
            <button type="button" class="btn btn-primary" id="back_btn">Go back</button>
            <button type="button" class="btn btn-primary" id="next_btn">Next</button>
        </div>
    </div>
    
    <%- include('../partials/footer'); %>

</body>
</html>