<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>

        <%- include('../partials/head'); %>

        <link rel="stylesheet" href="<%= baseUrl %>/css/style.css">
        <script type="application/javascript" src="<%= baseUrl %>/js/coordinator_view.js" defer></script>
    
    </head>
<body>

    <%- include('../partials/navbar'); %>
    <div class="outerCoordinator"> 
        <div class="table table-bordered table-responsive">    
            <table id="keycodeTable">
                <thead>
                    <tr> 
                        <!--headers for the table--> 
                        <th scope="col">Student</th>
                        <th scope="col">Keycode</th>
                        <th scope="col">Is registered?</th>
                    </tr>
                </thead>
                    <tbody>
                        <!--body is updated dynamically via js-->          
                    </tbody>
            </table>                       
        </div>


        <button type="button" class="btn btn-primary" id="createGroups">DO THE THING!!!!!!</button><br><br><br>

        <div class="table table-bordered table-responsive">    
            <table id="groupsTable">
                <thead>
                    <tr> 
                        <!--headers for the table--> 
                        <th scope="col">Group number</th>
                        <th scope="col">Students</th>
                        
                    </tr>
                </thead>
                    <tbody>
                        <!--body is updated dynamically via js-->  

                    </tbody>
            </table>                       
        </div>
    </div>
    
    <%- include('../partials/footer'); %>

</body>
</html>